<ion-content class="back-init">
    
    <div class="text-center bem-vindo-title">
        <span class="tam26 font-regular">[icone]</span>
    </div>

    <div class="text-center bem-vindo-sub">
        <span class="tam16 font-regular">Seja bem-vindo ao mais novo tipo de monitoramento corporal!</span>
    </div>


    <div class="bem-vindo-btns">
        <button class="btn-bv-cadastrar" ng-click="goToCadastrar()"><span class="font-regular">CADASTRAR</span></button>
        <a class="button btn-bv-entrar" ng-click="goToLogin()"><span class="font-regular">ENTRAR</span></a>
    </div>     

</ion-content>  

