<ion-content class="back-init">
    <div class="text-center cadastro-title">
        <span class="tam26 font-regular"> </span>
    </div>
    <form name="formulario-paciente" ng-submit="">
        <div class="text-center">
            <label class="font-regular tam20 opacidade">Dados Pessoais</label>
        </div>

        <div class="list">
            <div class="margin-top2-formulario">
                <label class="">
                    <span class="label-cadastrar-formulario font-regular tam16 opacidade">CPF:</span>
                    <input type="text" class="input-cadastrar-formulario" placeholder="CPF do paciente"/>
                </label>
            </div>
            <div class="margin-top2-formulario">
                <label class="">
                    <span class="label-cadastrar-formulario font-regular tam16 opacidade">Nome:</span>
                    <input type="text" class="input-cadastrar-formulario" placeholder="Nome do paciente"></input>
                </label>
            </div>
        
    </form>

     <form name="formulario-paciente" class="margin-top10-formulario" ng-submit="">
         <div class="text-center">
            <label class="font-regular tam20 opacidade">Informações</label>
         </div>

        <div class="list">
            <div class="margin-top2-formulario">
                <label class="">
                    <span class="label-cadastrar-formulario font-regular tam16 opacidade">Altura:</span>          
                    <input type="text" class="input-cadastrar-formulario" placeholder="Altura do paciente"/>
                </label>
            </div>
           
           <div class="margin-top2-formulario">
                <label class="">
                    <span class="label-cadastrar-formulario font-regular tam16 opacidade">Peso:</span>          
                    <input type="text" class="input-cadastrar-formulario" placeholder="Peso do paciente"/>
                </label>
            </div>
            
            <div class="margin-top2-formulario">
                <label class="">
                    <span class="label-cadastrar-formulario font-regular tam16 opacidade">Idade:</span>          
                    <input type="text" class="input-cadastrar-formulario" placeholder="Idade do paciente"/>
                </label>
            </div>
            
            <div class="margin-top2-formulario">
                <li class="item item-checkbox checkbox-dark checkbox-formulario opacidade ">
                    <span class="font-regular tam16 opacidade">Ingeriu água</span>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </li>
            </div>
        </div>

        <div class="opacidade">
            <button type="submit" class="btn-cadastrar-formulario"><span class="text-center font-regular tam18">CADASTRAR</span></button>
        </div>
    </form>

</ion-content>  

