<ion-content class="back-init">
    <div>

        <div class="text-center dados-pessoais-div">
            <label class="font-regular tam18 opacidade">DADOS PESSOAIS</label>
        </div>

        <form name="formulario-paciente" ng-submit="">
            
            <div class="margin-top2-formulario">
                <div class="label-cadastrar-formulario">
                    <span class=" font-regular tam16 opacidade label-form">CPF</span>
                    <input type="number" class="input-cadastrar-formulario" placeholder="ex: 022.119.050-30" ng-model="dadosPessoais.cpf"/>
                </div>
            </div>

            <div class="margin-top2-formulario">
                <div class="label-cadastrar-formulario">
                    <span class="label-form font-regular tam16 opacidade">Nome</span>
                    <input type="text" class="input-cadastrar-formulario" placeholder="ex: Maria Souza Silva" ng-model="dadosPessoais.nome"></input>
                </div>
            </div>
            
        </form>

        <div class="text-center dados-pessoais-div">
            <label class="font-regular tam18 opacidade">INFORMAÇÕES</label>
        </div>

        <form name="formulario-paciente" class="margin-top2-formulario" ng-submit="">

            
            <div class="margin-top2-formulario">
                <div class="label-cadastrar-formulario">
                    <span class="label-form font-regular tam16 opacidade">Altura</span>          
                    <input type="number" class="input-cadastrar-formulario" placeholder="ex: 180cm" ng-model="informacoes.altura"/>
                </div>
            </div>
            
            <div class="margin-top2-formulario">
                <div class="label-cadastrar-formulario">
                    <span class="label-form font-regular tam16 opacidade">Peso</span>          
                    <input type="number" class="input-cadastrar-formulario" placeholder="ex: 50kg" ng-model="informacoes.peso"/>
                </div>
            </div>
                
            <div class="margin-top2-formulario">
                <div class="label-cadastrar-formulario">
                    <span class="label-form font-regular tam16 opacidade">Idade</span>          
                    <input type="number" class="input-cadastrar-formulario" placeholder="18 anos" ng-model="informacoes.idade"/>
                </div>
            </div>
            

            
                <div class="margin-top2-formulario col col-60" style="margin-left: 15%;">
                    <label class = "item item-input item-select ">
                        <div class = "input-label ">
                            <span class="margin-left30 font-regular tam16 opacidade">Sexo:</span>
                        </div>
                            
                        <select  ng-model="sexo" ng-change="alterouSexo()" ng-options="sexo as sexo.tipo for sexo in sexos track by sexo.id">
                        </select>
                    </label>
                </div>
            

            <div class="margin-top2-formulario">
                <li class="item item-checkbox checkbox-dark checkbox-formulario opacidade ">
                    <span class="font-regular tam16 opacidade">Ingeriu água</span>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="informacoes.agua">
                    </label>
                </li>
            </div>
            

            <div class="opacidade">
                <button type="submit" class="btn-cadastrar-formulario" ng-click="goToCadastrar()"><span class="text-center font-regular tam18">CADASTRAR</span></button>
            </div>
    </div>
        </form>
        
</ion-content>  

