<ion-view view-title="Resultado" class="back-title">

  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>

  <ion-content class="padding back-body">
    
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-75 text-left">
            <span class="tam16 title-card">BODY DENSITY</span><span style="padding-left: 5px;" class="tam12">[kg/mˆ2]</span>
          </div>
          <div class="col text-right">
            <span class="tam14">{{bodyDensity | number : 2}}</span>
          </div>     
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-63 text-left">
            <span class="tam16 title-card">FAT MASS</span><span style="padding-left: 5px;" class="tam12">[%]</span>
          </div>
          <div class="col text-right">
            <span class="tam14">{{fatMass | number : 2}}</span>
          </div>
        </div>       
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-63 text-left">
            <span class="tam16 title-card">FFM</span><span style="padding-left: 5px;" class="tam12">[%]</span>
          </div>
          <div class="col text-right">
            <span class="tam14">{{ffm | number : 2}}</span>
          </div>
        </div>       
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="text-center title-card">
          ÚLTIMOS RESULTADOS
        </div>
        <div class="text-center" style="margin-top: 10%;">
          [grafico]
        </div>         
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="text-center title-card">
          RESUMO
        </div>
        <div class="text-center" style="margin-top: 10%;" >
          A partir dos resultados acima, o cliente possui um estado:
           <div class="text-center" style="margin-top:5%;">
             <span class="tam16" ng-if="ffm > 30">SOBREPESO</span>
           </div>
           <div class="text-center" style="margin-top:5%;">
             <span class="tam16" ng-if="ffm < 30">IDEAL</span>
           </div>  
        </div>         
      </div>
    </div>

  </ion-content>
</ion-view>
