<ion-view view-title="Resultado" class="back-title">

  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>

  <ion-content class="padding back-body">
    <div class="resultado-title text-center">
        <label class="font-regular tam26 opacidade">Resultado</label>
    </div>  
    <span class="font-regular">{{resultado}}</span>
    <div class="resultado-title text-center">
        <label class="font-regular tam26 opacidade">Últimos Resultados</label>
    </div>  
    <div class="ct-chart" id="chart1"></div>
  </ion-content>
</ion-view>
