<ion-view view-title="Sobre" class="back-title">

  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>

  <ion-content class="padding back-body">

    <div class="text-center" style="margin-top: 10%;">
      <p class="font-regular tam16">
        SmartBIA é uma solução de medição tetrapolar para a análise da bioimpedância de pacientes.<br><br>
        O forumulário de resultados apresenta: o percentual  de gordura [%], a densidade corporal [kg/mˆ2] e o percentual de massa magra [%] do paciente. <br><br>
        Por ser inteligente, SmartBIA fornece resultados de alta precisão. Baseado na tomada de medições, o sistema é capaz de aprender a respeito da composição corporal
        do paciente podendo corrigir erros que surgem a partir do seu estado inadequado para a realização do exame.
      </p>
    </div>
    
  </ion-content>
</ion-view>
