.btn-cadastrar-formulario {
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0);
  height: 50px;
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
}

.input-cadastrar-formulario {
  text-align: center;
  border-radius: 30px;
  opacity: 0.7;
  background-color: #8c8c8c;
  color: white;  
  height: 80%;
  width: 80%;
  margin-left: 10%;
}

input::-webkit-input-placeholder {
    color: white !important;
}

[input='text'].input-form {
    background-color: transparent;
}

.label-cadastrar-formulario {
  margin-left: 10%;
}

.margin-left30 {
    margin-left: 30%;
}

.cadastro-title { 
    margin-top: 0%;
    margin-bottom: 10%;
}

.texto-placeholder {
    color: white;  
}

.opacidade{
    opacity: 0.7;
}

.margin-top2-formulario{
    margin-top: 2%;
}

.margin-top10-formulario{
    margin-top: 10%;
}

.checkbox-formulario{
    border-color: none !important;
    background-color: transparent !important;
    border-width: 0px;
    border-style: none !important;
    margin-left: 5%;
}

.checkbox input:before, .checkbox-icon:before {
    opacity: 0.9;
    background: #8c8c8c;
    border-color: transparent;
}

.item {
  
    border-style: none !important;
    background-color: transparent !important ;
}

.item-select select {
    
    background: transparent !important;
    color: white  !important;
   
}