/* index */

.tam10 {
    font-size: 10px;
} .tam12 {
    font-size: 12px;
} .tam14 {
    font-size: 14px;
} .tam16 {
    font-size: 16px;
} .tam18 {
    font-size: 18px;    
} .tam20 {
    font-size: 20px;
} .tam22 {
    font-size: 22px;
} .tam24 {
    font-size: 24px;
} .tam26 {
    font-size: 26px;
} .tam28 {
    font-size: 28px;
}

.font-regular {
    color: white;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.back-init {
    background-image: linear-gradient(to right, #696969, #808080);
}

.back-body {
  background-image: linear-gradient(to right, #778899, #B0C4DE);
}

.bar.bar-stable {
    background-color: #708090;
}

.bar.bar-stable .title {
    color: white;
}

.tabs {
    background-color: #708090;
}

.tab-item .icon {
    color: white;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: white;
}

ion-tabs.tabs-color-active-positive .tab-item {
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}